#header {
  text-align: center;
}
#heading{
  display: flex;
  align-items: center;
}
#container {
  display: flex;
  flex-direction: column;
}

.id-left {
  align-self: flex-start;
}

.id-right {
  align-self: flex-end;
}

#navbar{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #ffb6c1;
  width: 100%;
  height: 70px;
}
#navbar #list li{
  top: -20px;
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  color: #da1313;
  text-decoration: none;
  font-size: 24px;
  position: relative;
}